<html>

    <head>
        <title>{{ question.question_text }} | OpenPoll</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.15/tailwind.css" integrity="sha512-DzI/qIN7eBl6rUzNOoJJs3tYzNDTafulzmkzL7BgG/2iYOw6O2/kBNA0r8XVEHaJ9sSdzc00tMkanzQq7EFFMQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        <style>
            body {
                background-color: #DFDBE5;
            }
        </style>
    </head>

    <body>
        <nav>
            <div class="pt-2 pl-4 pb-2 ">
                <p class="text-3xl font-bold"> <a href="/polls">OPEN POLL</a></p>
            </div>
        </nav>

    <div class="text-left pl-10 rounded-lg" style=" margin-left: 25%; margin-right: 25%">
        <form action="{% url 'polls:vote' question.id %}" class="p-10 m-10" method="post">
        {% csrf_token %}
        <fieldset>
            <p class="text-3xl font-bold">{{ question.question_text }}</p>
            <p class="text-sm">Created At {{ question.pub_date.astimezone }}</p>
            <p class="mt-2">
                {{ question.description }}
            </p>
            <div class="text-left mt-4">
                {% if error_message %}<p class="text-red-500"><strong>{{ error_message }}</strong></p>{% endif %}
                {% for choice in question.choice_set.all %}
                    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
                {% endfor %}
            </div>
        </fieldset>
            <button type="submit" value="Vote" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full mt-5 ">Vote</button>
        </form>
    </div>


    <footer style="position: fixed; bottom: 0" class="p-2 inline-flex">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 ml-1 mr-1" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M12.316 3.051a1 1 0 01.633 1.265l-4 12a1 1 0 11-1.898-.632l4-12a1 1 0 011.265-.633zM5.707 6.293a1 1 0 010 1.414L3.414 10l2.293 2.293a1 1 0 11-1.414 1.414l-3-3a1 1 0 010-1.414l3-3a1 1 0 011.414 0zm8.586 0a1 1 0 011.414 0l3 3a1 1 0 010 1.414l-3 3a1 1 0 11-1.414-1.414L16.586 10l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
        </svg>
        <a class="text-sm">with</a>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 ml-1 mr-1 text-red-600" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z" clip-rule="evenodd" />
        </svg>
        <a class="text-sm">by</a>
        <a class="text-sm ml-1" href="https://github.com/tarithj">@tarithj</a>
    </footer>
    </body>
</html>