<html>
    <head>
        <title>OpenPoll</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.15/tailwind.css" integrity="sha512-DzI/qIN7eBl6rUzNOoJJs3tYzNDTafulzmkzL7BgG/2iYOw6O2/kBNA0r8XVEHaJ9sSdzc00tMkanzQq7EFFMQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        <style>
            body {
                background-color: #DFDBE5;
            }
        </style>
    </head>

    <body>
        <div style="margin-left: 25%; margin-right: 25%; margin-top: 40vh; margin-bottom: 25vh" class="text-center">
            <div class="pt-2 pl-4 pb-2 ">
                <p class="mb-2"><a class="text-6xl font-bold">OPEN POLL</a></p>
                <label>
                    <input id="poll_id" placeholder="POLL ID" class="pl-2 pt-1 pb-1 bg-t-8 bg-opacity-50 bg-white rounded-xl" type="text" />
                </label>
                <button onclick="pollIDButton()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-4 rounded-xl mt-5">
                    Find
                </button>
            </div>
        </div>

        <footer style="position: fixed; bottom: 0" class="p-2 inline-flex">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 ml-1 mr-1" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M12.316 3.051a1 1 0 01.633 1.265l-4 12a1 1 0 11-1.898-.632l4-12a1 1 0 011.265-.633zM5.707 6.293a1 1 0 010 1.414L3.414 10l2.293 2.293a1 1 0 11-1.414 1.414l-3-3a1 1 0 010-1.414l3-3a1 1 0 011.414 0zm8.586 0a1 1 0 011.414 0l3 3a1 1 0 010 1.414l-3 3a1 1 0 11-1.414-1.414L16.586 10l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
            </svg>
            <a class="text-sm">with</a>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 ml-1 mr-1 text-red-600" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z" clip-rule="evenodd" />
            </svg>
            <a class="text-sm">by</a>
            <a class="text-sm ml-1" href="https://github.com/tarithj">@tarithj</a>
        </footer>
        <script>
            const poll_id_input = document.getElementById("poll_id")
            poll_id_input.addEventListener("keyup", pollIDInputEnter)
            function pollIDInputEnter(e) {
                if(e.keyCode === 13) {
                    pollIDButton()
                }
            }
            function pollIDButton() {
                document.location.href = "./"+poll_id_input.value
            }
        </script>
    </body>
</html>